@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #45556c;

  /* --accent: #055285; */
  --accent: #21455d;
  --surface: #b7ebee;
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-surface: var(--surface);

  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toastIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    max-height: 500px;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

.page-transition {
  animation: fadeIn 0.24 ease-in;
}

.toast-in {
  animation: toastIn 0.3 ease-out;
}

.toast-out {
  animation: toastOut 0.3 ease-in;
}
