@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #45556c;

  --accent: #055285;
  --surface: #b7ebee;
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-surface: var(--surface);

  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}
